.body {
  font-family: "Gill Sans", sans-serif;
overflow-x: hidden;
margin: 0;
height: auto;
}

.topnav {
    display: flex;
    justify-content: center;
    background-color: #171717;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    width: 250px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color:#FFF07C;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #FFF07C;
    color: black;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }


  #left-container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 800px;
    background-color: lavender;
  }

  .img {
    opacity: 0.5;
    width: 300px;
    height: 200px;
  }

  .hover :hover {
    opacity: 1;
  }